<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <input type="text" placeholder="usuario">
                <input type="password" placeholder="contraseña">
                <button type="submit">Login</button>

            </thead>
            <tbody>
                <td>

                </td>
            </tbody>
        </table>

    </form>
</body>
</html>