<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <td><input type="text" name="username" placeholder="Usuario"></td>
                <td><input type="password" name="password" placeholder="Password"></td>
                <td><button type="submit">Login</button></td>

            </thead>
            <tbody>
                <td>

                </td>
            </tbody>
        </table>

    </form>
</body>
</html>